* {
    box-sizing: border-box;
}

body {
    background: url('/kepek/hatter_2.JPG') no-repeat fixed black;
    margin: 0;
    color: yellow;
}

header {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    color: chartreuse;
}

h1 {
    margin: 0 auto;
    padding: 0 auto;
}

