@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: url("../kepek/hatter.jpg") rgba(0,0,0,1) no-repeat center center fixed;
	background-color: white;
	font: bold 20px/27px 'Roboto', sans-serif;
	
}

.keret {	
	min-width: 400px;
	max-width: 1600px;
	width: 90%;
	margin: 0px auto;
}

header {
	background: url("../kepek/fejlec.bmp") no-repeat center center;
	background-size: contain;
	height: 200px;
	margin: 10px auto;
}

div .nap {
	display: inline-block;
	position: relative;
	
	
}

div .szam {
	height: 200px;
	width: 700px;
	background-size: contain;
}


div .szam01 {	background: url("../kepek/ablak/szam01.bmp") no-repeat center center; background-size: contain;}
div .szam02 {	background: url("../kepek/ablak/szam02.bmp") no-repeat center center; background-size: contain;}


div .ablak {
	height: 400px;
	width:700px;
	background: url("../kepek/ablak/zsaluZarva.bmp") no-repeat center center;
	background-size: contain;
}

div .ablak:hover {
	height: 400px;
	width: 700px;
	background: url("../kepek/ablak/zsaluNyitva.bmp") no-repeat center center;
	background-size: contain;
}

img {
	position: absolute;
	left: 205px;
	top: 248px;
	z-index: -1;
	height:304px;
}