h1{
    width: 300px;
}

table{
    margin: 10px auto 20px auto;
    min-width: 500px;
    width: 85%;
    border-spacing: 0;
}

th{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

td{
    padding-top: 5px;
    padding-bottom: 5px;
}

img{
    height: 40px;

}

tbody tr:nth-child(even) {background-color: #f2f2f2;}
tbody tr:nth-child(odd) {background-color: #D3E64A;}

tbody tr:nth-child(even):hover {
    background-color: rgb(117, 10, 10); 
    color:#f2f2f2;
}

tbody tr:nth-child(odd):hover {
    background-color: rgb(117, 10, 10); 
    color:#D3E64A;
}

/* Első oszlop fejléc*/
thead th:nth-child(1){
    width: 60px;
    text-align: center;
}

/* Harmadik oszlop fejléc*/
thead th:nth-child(3){
    width: 60px;     
}


/* Első oszlop */
tbody tr td:nth-child(1){
    width: 60px;
    padding-right: 20px;
    text-align: right;
}

/* Harmadik oszlop */
tbody tr td:nth-child(3){
    width: 60px;
    padding-right: 20px;     
    text-align: right;
}