@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "oswald", sans-serif; 
    background-color: #28A745;  
    color: rgb(61, 26, 2)  
}

.oldal{
    margin: 10px auto;
    width: 1000px;
}

/* Navigáció formázása*/
nav ul{
    margin: 0;
}

nav li{
    display: inline-block; 
    margin: 10px 1% 10px 1%; 
    width: 30%;
    text-align: center;

}

nav a{
    display: block; 
    background-color: rgb(61, 26, 2);
    text-decoration: none;
    padding: 10px 0;
    border-radius: 10px;
    /* color: rgb(255, 208, 0); */
    font-size: 20px;
    font-weight: 700;
}

nav a:hover{
    background-color: rgba(177, 74, 5, 1);

}

