@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "oswald", sans-serif;
    color:  rgb(61, 26, 2);
    background-color: #ffe57f; 
}

.oldal{
    margin: 10px auto;
    width: 1000px;
}

nav ul{
    margin: 0;
}

nav li{
    display: inline-block; 
    margin: 10px 1% 10px 1%; 
    width: 30%;
    text-align: center;
}

nav a{
    display: block; 
    background-color:#D3E64A;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 10px;
    border-color:#28A745;
    border-style: solid;
    color: rgb(117, 10, 10);
    font-size: 25px;
    font-weight: 700;
}

nav a:hover{
    background-color: rosybrown;
}


main {
    /* border: 5px;*/
    border-radius: 10px;
    border-color:#28A745;
    border-style: solid;
}

h1{
    text-align: center;
}