h1{
    width: 300px;
}

.racs{
    display: grid;
    grid-template-columns: repeat(12, 10%);
    margin: 0;
    padding: 0;   
    gap: 5px;
    margin-top: 30px;
}

.cimBlokk{
    grid-column: 1/13;
}

.blokk{
    grid-column: 3/5;
    /* background-color: rgba(0, 255, 0, 0.4); */
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: center;
}

.alahuz{
    /* border-bottom: rgb(61, 26, 2) solid; */
    text-decoration: underline;
}

.megnevezes{
    grid-column: 4/5;
   /*  background-color: rgba(255, 0, 0, 0.5); */
    max-width: 200px;
}

.adat{
    grid-column: 5/8;
    align-self: center;
    /* background-color: rgba(0, 0, 255, 0.5); */
    /* max-width: 200px; */
}

.cimIrszam{
    grid-column: 5/6;
}
.cimVaros{
    grid-column: 6/7;
}
.cimUtca{
    grid-column: 7/8;
}
.cimHazszam{
    grid-column: 8/9;
}
.megjegyz{
    grid-column: 5/8;
    grid-row: span 2;
    height: 100px;
    resize: none;
}

.szalldij{
    margin-bottom: 20px;
    grid-column: 3/8;
    justify-self: center;
    color: red;

    font-size: 19px;
}

.szallitasidij{
    color: red;
}

button.gomb{
    background-color: #28A745;
    color: rgb(61, 26, 2);
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    border: o;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

button.gomb:hover{
    box-shadow: none;
    background-color: #D3E64A;
}

.gomb{
    grid-column: 4/7;    
}
.kotmezo{
    color: rgb(255,0,0);
}